<div class="kpi-wrapper">
	<h2>{{ name | translate }}</h2>
	<div class="kpi kpi-panel">
		<div class="kpi-item" ng-repeat="item in dataset">
			<i class="fas fa-{{ item.icon }} fa-3x fa-fw"></i>
			<h3>{{ item.data }}</h3>
			<span>{{ item.label | translate }}</span>
		</div>
	</div>
</div>