﻿@import '../vars';

.cropbox {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #000;
	z-index: 1001;
	// display: none;

	.crop {
		overflow: hidden;
		background: @color3;
		width: 500px;
		height: 500px;
		margin-bottom: @space-sm;
	}

	.cancel {
		margin-left: @space-sm;
	}
}

@media (max-width: @screen-sm-max) {
	.cropbox {
		.crop {
			width: 300px;
			height: 300px;
		}
	}
}