.ngrateit {
	display: flex;
	justify-content: center;
}

.ngrateit-star {
	background-size: 32px;
}

.rating {
	display: flex;
	align-items: center;

	&.rating-center {
		flex-direction: column;
	}

	.star {
		width: 134px;
		height: 24px;
		background: url(../Images/bg-Rate.png) no-repeat;
		display: inline-block;
		margin-right: @space-xxs;

		&.star-0 {
			background-position: 2px -2px;
		}

		&.star-1 {
			background-position: -2px -36px;
		}

		&.star-2 {
			background-position: -2px -70px;
		}

		&.star-3 {
			background-position: -2px -104px;
		}

		&.star-4 {
			background-position: -2px -138px;
		}

		&.star-5 {
			background-position: -145px -2px;
		}

		&.star-lg {
			width: 178px;
			height: 32px;
			background: url('../Images/bg-Rate.png') no-repeat;
			display: inline-block;

			&.star-0 {
				background-position: -293px -2px;
			}

			&.star-1 {
				background-position: -293px -36px;
			}

			&.star-2 {
				background-position: -293px -70px;
			}

			&.star-3 {
				background-position: -293px -104px;
			}

			&.star-4 {
				background-position: -293px -138px;
			}

			&.star-5 {
				background-position: -483px -2px;
			}
		}
	}
}
