
.bootstrap-tagsinput {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: @palette-Grey-900;
	background-color: @palette-White-500;
	border: 1px solid @palette-Grey-300;
	border-radius: 5px;
	min-height: 42px;
	padding: 2px;
	margin-bottom: @space-md;
	box-shadow: none;
	cursor: text;
	flex-wrap: wrap;

	input[type='text'] {
		font: 300 @fontsize-md / 1em @font-text;
		border: none;
		box-shadow: none;
		outline: none;
		background-color: transparent;
		padding: 0;
		margin: 3px 3px 3px 7px;
		width: auto !important;
		max-width: inherit;

		&:focus {
			border: none;
			box-shadow: none;
		}
	}

	.tag {
		font: 300 @fontsize-md / 1em @font-text;
		margin: 3px;
		padding: 5px;

		&.big {
			color: @palette-White-500;
			background-color: @palette-Lime-500;
			border-radius: 5px;
		}

		[data-role='remove'] {
			margin-left: 8px;
			cursor: pointer;

			&:after {
				content: '\00D7';
				font-weight: bold;
				padding: 0px 2px;
			}
		}
	}
}
