﻿<form ng-submit="vm.save()" autocomplete="off" novalidate="novalidate">
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label class="req" translate="schedulerCreations.schedulerCreationId"></label>
			<input type="number" ng-model="vm.model.schedulerCreationId" ng-required="true" class="form-control" />
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-12">
			<label translate="schedulerCreations.dtReg"></label>
			<div date-time date-field="vm.model.dtReg" is-required="false"></div>
		</div>
	</div>
	<div class="footer">
		<div><a back class="material-link"><i class="material-icons">keyboard_backspace</i> <span translate="global.back"></span></a></div>
		<div><button type="submit" class="btn btn-default btn-lg" ladda="laddaLoading" translate="global.save"></button></div>
	</div>
</form>