﻿<form ng-submit="vm.save()" autocomplete="off" novalidate="novalidate">
	<div class="form-row">
		<div class="form-group col-sm-12">
			<label translate="trackingCodes.dtReg"></label>
			<div date-time date-field="vm.model.dtReg" is-required="false"></div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-12">
			<label translate="trackingCodes.dtActivation"></label>
			<div date-time date-field="vm.model.dtActivation" is-required="false"></div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label translate="trackingCodes.cpfCnpj"></label>
			<input type="text" ng-model="vm.model.cpfCnpj" ui-br-cpf-mask ng-required="false" class="form-control" />
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label translate="trackingCodes.customerId"></label>
			<select ng-model="vm.model.customerId" ng-options="option.key as option.value for option in vm.customers" ng-required="false" class="form-control"></select>
		</div>
	</div>
	<div class="footer">
		<div><a back class="material-link"><i class="material-icons">keyboard_backspace</i> <span translate="global.back"></span></a></div>
		<div><button type="submit" class="btn btn-default btn-lg" ladda="laddaLoading" translate="global.save"></button></div>
	</div>
</form>