﻿<form ng-submit="vm.save()" autocomplete="off" novalidate="novalidate">
	<div class="form-row">
		<div class="form-group col-sm-9">
			<label class="req" translate="states.name"></label>
			<input type="text" ng-model="vm.model.name" ng-maxlength="64" ng-required="true" class="form-control" />
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label class="req" translate="states.abbreviation"></label>
			<input type="text" ng-model="vm.model.abbreviation" ng-maxlength="2" ng-required="true" class="form-control" />
		</div>
	</div>
	<div class="footer">
		<div><a back class="material-link"><i class="material-icons">keyboard_backspace</i> <span translate="global.back"></span></a></div>
		<div><button type="submit" class="btn btn-default btn-lg" ladda="laddaLoading" translate="global.save"></button></div>
	</div>
</form>