<div class="kpi-wrapper">
	<h2>{{ name | translate }}</h2>
	<div class="kpi">
		<canvas class="chart chart-doughnut" chart-data="dataset.data" chart-labels="dataset.labels" chart-options="options"></canvas>
	</div>
</div>