﻿<form ng-submit="vm.save()" autocomplete="off" novalidate="novalidate">
	<div class="form-row">
		<div class="form-group col-sm-9">
			<label class="req" translate="addresses.address1"></label>
			<input type="text" ng-model="vm.model.address1" ng-maxlength="64" ng-required="true" class="form-control" />
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-9">
			<label translate="addresses.address2"></label>
			<input type="text" ng-model="vm.model.address2" ng-maxlength="64" ng-required="false" class="form-control" />
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-9">
			<label translate="addresses.neighborhood"></label>
			<input type="text" ng-model="vm.model.neighborhood" ng-maxlength="64" ng-required="false" class="form-control" />
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label class="req" translate="addresses.zipCode"></label>
			<input type="text" ng-model="vm.model.zipCode" ng-maxlength="16" ng-required="true" class="form-control" />
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label class="req" translate="addresses.cityId"></label>
			<select ng-model="vm.model.cityId" ng-options="option.key as option.value for option in vm.cities" ng-required="true" class="form-control"></select>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label class="req" translate="addresses.lat"></label>
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">$</span>
				</div>
				<input type="text" ng-model="vm.model.lat" ui-number-mask="2" ng-required="true" class="form-control" />
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label class="req" translate="addresses.lng"></label>
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">$</span>
				</div>
				<input type="text" ng-model="vm.model.lng" ui-number-mask="2" ng-required="true" class="form-control" />
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-5">
			<label translate="addresses.number"></label>
			<input type="text" ng-model="vm.model.number" ng-maxlength="32" ng-required="false" class="form-control" />
		</div>
	</div>
	<div class="footer">
		<div><a back class="material-link"><i class="material-icons">keyboard_backspace</i> <span translate="global.back"></span></a></div>
		<div><button type="submit" class="btn btn-default btn-lg" ladda="laddaLoading" translate="global.save"></button></div>
	</div>
</form>