﻿<form ng-submit="vm.save()" autocomplete="off" novalidate="novalidate">
	<div class="form-row">
		<div class="form-group col-sm-12">
			<label translate="logTrackingCodes.dtReg"></label>
			<div date-time date-field="vm.model.dtReg" is-required="false"></div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label translate="logTrackingCodes.operationTypeId"></label>
			<select ng-model="vm.model.operationTypeId" ng-options="option.key as option.value for option in vm.operationtypes" ng-required="false" class="form-control"></select>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label translate="logTrackingCodes.trackingCodeId"></label>
			<select ng-model="vm.model.trackingCodeId" ng-options="option.key as option.value for option in vm.trackingcodes" ng-required="false" class="form-control"></select>
		</div>
	</div>
	<div class="footer">
		<div><a back class="material-link"><i class="material-icons">keyboard_backspace</i> <span translate="global.back"></span></a></div>
		<div><button type="submit" class="btn btn-default btn-lg" ladda="laddaLoading" translate="global.save"></button></div>
	</div>
</form>