<div id="auth-login" class="container-fluid">
	<div class="row">
		<div class="col-md-6 d-none d-md-block panel-left">
			<div class="pattern">
				<div class="logo">
					<a href="http://www.asteria.com.br/" target="_blank"><img src="/images/logo-asteria.svg" alt="Astéria Internet Solutions" /></a>
				</div>
				<div class="signature">
					<a href="http://www.asteria.com.br/" target="_blank"><img src="/images/img-powered.svg" alt="Powered by Astéria" /></a>
				</div>
			</div>
		</div>
		<div class="col-md-6 panel-right">
			<div ui-view="auth"></div>
		</div>
	</div>
</div>