﻿<h1>{{ 'global.resetPassword' | translate }}</h1>

<div ng-show="vm.auth_error">
	<p class="auth-error"><i class="material-icons md-36">error_outline</i> <span ng-bind="vm.auth_error"></span></p>
</div>

<form ng-submit="vm.changePassword()" method="post" novalidate="novalidate">
	<div class="form-group">
		<label translate="global.email"></label>
		<div class="email-wrapper">
			<input type="email" ng-model="vm.model.email" class="form-control" disabled="disabled" readonly="readonly" required />
			<i class="fas fa-user"></i>
		</div>
	</div>

	<div class="form-group">
		<label translate="global.newPassword"></label>
		<div class="password-wrapper">
			<input type="password" ng-model="vm.model.password" required class="form-control" placeholder="{{ 'global.enterPassword' | translate }}" />
			<i class="fas fa-lock-alt"></i>
		</div>
	</div>

	<div class="form-group">
		<label translate="global.passwordConfirmation"></label>
		<div class="password-wrapper">
			<input type="password" ng-model="vm.model.passwordConfirm" required class="form-control" placeholder="{{ 'global.confirmPassword' | translate }}" />
			<i class="fas fa-lock-alt"></i>
		</div>
	</div>

	<div class="row">
		<div class="col text-center text-lg-right">
			<button type="submit" ladda="laddaLoading" class="btn btn-default btn-lg" translate="global.changePassword"></button>
		</div>
	</div>
</form>