﻿<h1>{{ 'global.resetPassword' | translate }}</h1>

<div ng-show="vm.auth_error">
	<p class="auth-error"><i class="material-icons md-36">error_outline</i> <span ng-bind="vm.auth_error"></span></p>
</div>

<form ng-submit="vm.sendEmail()" method="post" novalidate="novalidate">
	<div class="form-group">
		<label translate="global.email"></label>
		<div class="email-wrapper">
			<input type="email" ng-model="vm.model.email" class="form-control" required />
			<i class="fas fa-user"></i>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 order-lg-2 text-center text-lg-right">
			<button type="submit" ladda="laddaLoading" class="btn btn-default btn-lg" translate="global.send"></button>
		</div>
		<div class="col-lg-6 order-lg-1 text-center text-lg-left">
			<a ui-sref="signin" class="forgot"><i class="material-icons">keyboard_backspace</i> {{ 'global.back' | translate }}</a>
		</div>
	</div>
</form>