<h1>Login</h1>

<div ng-show="vm.auth_error">
	<p class="auth-error"><i class="material-icons md-36">error_outline</i> <span ng-bind="vm.auth_error"></span></p>
</div>

<form ng-submit="vm.submit()" method="post" novalidate="novalidate">
	<div class="form-group">
		<label for="email" translate="global.email"></label>
		<div class="email-wrapper">
			<input type="email" ng-model="vm.model.email" class="form-control" ng-required="true" placeholder="{{ 'global.enterEmail' | translate }}" />
			<i class="fas fa-user"></i>
		</div>
	</div>

	<div class="form-group">
		<label for="password" translate="global.password"></label>
		<div class="password-wrapper">
			<input type="password" ng-model="vm.model.password" class="form-control" ng-required="true" placeholder="{{ 'global.enterPassword' | translate }}" />
			<i class="fas fa-lock-alt"></i>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 order-lg-2 text-center text-lg-right">
			<button type="submit" ladda="laddaLoading" class="btn btn-default btn-lg" translate="global.connect"></button>
		</div>
		<div class="col-lg-6 order-lg-1 text-center text-lg-left">
			<a ui-sref="forgotPassword" class="forgot" translate="global.forgotPassword"></a>
		</div>
	</div>
</form>