﻿<div class="filter">
	<form name="form_filter" class="form-inline">
		<div class="form-group">
			<label class="req" translate='global.from'></label>
			<input type="text" ng-model="vm.from" pick-Adate ui-date-mask ng-required="true" class="form-control mx-sm-2" />
		</div>
		<div class="form-group">
			<label class="req" translate='global.to'></label>
			<input type="text" ng-model="vm.to" pick-Adate ui-date-mask ng-required="true" class="form-control mx-sm-2" />
		</div>
		<div class="form-group">
			<a ng-click="vm.refresh()" ng-show="form_filter.$valid" title="{{'global.refresh' | translate}}"><i class="material-icons md-48 md-default">refresh</i></a>
			<a ng-click="vm.excel()" ng-show="form_filter.$valid" title="{{'global.exportExcel' | translate}}"><i class="material-icons md-48 md-default">assignment_returned</i></a>
		</div>
	</form>
</div>

<panel-empty ng-hide="vm.model.length"></panel-empty>

<table class="table" ng-show="vm.model.length">
	<thead>
		<tr>
			<th translate="reports.users.name"></th>
			<th translate="reports.users.email"></th>
			<th translate="reports.users.createdOn"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in vm.model">
			<td ng-bind="item.name"></td>
			<td ng-bind="item.email"></td>
			<td ng-bind="item.createdOn"></td>
		</tr>
	</tbody>
</table>