﻿<form ng-submit="vm.save()" autocomplete="off" novalidate="novalidate">
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label class="req" translate="parts.partId"></label>
			<input type="number" ng-model="vm.model.partId" ng-required="true" class="form-control" />
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-12">
			<label translate="parts.dtReg"></label>
			<div date-time date-field="vm.model.dtReg" is-required="false"></div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label translate="parts.processId"></label>
			<select ng-model="vm.model.processId" ng-options="option.key as option.value for option in vm.processes" ng-required="false" class="form-control"></select>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-12">
			<label translate="parts.name"></label>
			<input type="text" ng-model="vm.model.name" ng-maxlength="128" ng-required="false" class="form-control" />
		</div>
	</div>
	<div class="footer">
		<div><a back class="material-link"><i class="material-icons">keyboard_backspace</i> <span translate="global.back"></span></a></div>
		<div><button type="submit" class="btn btn-default btn-lg" ladda="laddaLoading" translate="global.save"></button></div>
	</div>
</form>