﻿<div class="row">
	<div class="col-md-6 col-lg-3">
		<kpi-single-value name="'dashboard.addresses'" icon="'users'" value="vm.model.addresses"></kpi-single-value>
	</div>
	<div class="col-md-6 col-lg-3">
		<kpi-single-value name="'dashboard.attempts'" icon="'users'" value="vm.model.attempts"></kpi-single-value>
	</div>
	<div class="col-md-6 col-lg-3">
		<kpi-single-value name="'dashboard.cities'" icon="'users'" value="vm.model.cities"></kpi-single-value>
	</div>
	<div class="col-md-6 col-lg-3">
		<kpi-single-value name="'dashboard.customers'" icon="'users'" value="vm.model.customers"></kpi-single-value>
	</div>
	<div class="col-md-6 col-lg-3">
		<kpi-single-value name="'dashboard.logtrackingcodes'" icon="'users'" value="vm.model.logtrackingcodes"></kpi-single-value>
	</div>
	<div class="col-md-6 col-lg-3">
		<kpi-single-value name="'dashboard.movements'" icon="'users'" value="vm.model.movements"></kpi-single-value>
	</div>
	<div class="col-md-6 col-lg-3">
		<kpi-single-value name="'dashboard.notifications'" icon="'users'" value="vm.model.notifications"></kpi-single-value>
	</div>
	<div class="col-md-6 col-lg-3">
		<kpi-single-value name="'dashboard.notificationtypes'" icon="'users'" value="vm.model.notificationtypes"></kpi-single-value>
	</div>
	<div class="col-md-6 col-lg-3">
		<kpi-single-value name="'dashboard.operationtypes'" icon="'users'" value="vm.model.operationtypes"></kpi-single-value>
	</div>
	<div class="col-md-6 col-lg-3">
		<kpi-single-value name="'dashboard.parts'" icon="'users'" value="vm.model.parts"></kpi-single-value>
	</div>
	<div class="col-md-6 col-lg-3">
		<kpi-single-value name="'dashboard.plans'" icon="'users'" value="vm.model.plans"></kpi-single-value>
	</div>
	<div class="col-md-6 col-lg-3">
		<kpi-single-value name="'dashboard.processes'" icon="'users'" value="vm.model.processes"></kpi-single-value>
	</div>
	<div class="col-md-6 col-lg-3">
		<kpi-single-value name="'dashboard.schedulercreations'" icon="'users'" value="vm.model.schedulercreations"></kpi-single-value>
	</div>
	<div class="col-md-6 col-lg-3">
		<kpi-single-value name="'dashboard.schedulerstatus'" icon="'users'" value="vm.model.schedulerstatus"></kpi-single-value>
	</div>
	<div class="col-md-6 col-lg-3">
		<kpi-single-value name="'dashboard.schedulertrackingcodes'" icon="'users'" value="vm.model.schedulertrackingcodes"></kpi-single-value>
	</div>
	<div class="col-md-6 col-lg-3">
		<kpi-single-value name="'dashboard.states'" icon="'users'" value="vm.model.states"></kpi-single-value>
	</div>
	<div class="col-md-6 col-lg-3">
		<kpi-single-value name="'dashboard.trackingcodes'" icon="'users'" value="vm.model.trackingcodes"></kpi-single-value>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<kpi-line-chart name="'Gráfico de Linha'" dataset="vm.dataset"></kpi-line-chart>
	</div>
	<div class="col-md-4">
		<kpi-multi-values name="'Valores 1'" dataset="vm.multivalues"></kpi-multi-values>
		<kpi-multi-values name="'Valores 2'" dataset="vm.multivalues"></kpi-multi-values>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<kpi-pie-chart name="'Gráfico de Pizza'" dataset="vm.simpledata"></kpi-pie-chart>
	</div>
	<div class="col-sm-4">
		<kpi-bar-chart name="'Gráfico de Barras'" dataset="vm.dataset"></kpi-bar-chart>
	</div>
	<div class="col-sm-4">
		<kpi-h-bar-chart name="'Gráfico de Barras Horizontal'" dataset="vm.simpledata"></kpi-h-bar-chart>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<kpi-doughnut-chart name="'Gráfico de Rosca'" dataset="vm.simpledata"></kpi-doughnut-chart>
	</div>
	<div class="col-sm-4">
		<kpi-radar-chart name="'Gráfico de Radar'" dataset="vm.dataset"></kpi-radar-chart>
	</div>
	<div class="col-sm-4">
		<kpi-polar-area-chart name="'Gráfico Polar'" dataset="vm.simpledata"></kpi-polar-area-chart>
	</div>
</div>