﻿<form ng-submit="vm.save()" autocomplete="off" novalidate="novalidate">
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label class="req" translate="customers.authId"></label>
			<select ng-model="vm.model.authId" ng-options="option.key as option.value for option in vm.auth" ng-required="true" class="form-control"></select>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-12">
			<label translate="customers.dtReg"></label>
			<div date-time date-field="vm.model.dtReg" is-required="false"></div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-12">
			<label translate="customers.name"></label>
			<input type="text" ng-model="vm.model.name" ng-maxlength="128" ng-required="false" class="form-control" />
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label translate="customers.addressId"></label>
			<select ng-model="vm.model.addressId" ng-options="option.key as option.value for option in vm.addresses" ng-required="false" class="form-control"></select>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label translate="customers.phone"></label>
			<input type="text" ng-model="vm.model.phone" ui-br-phone-number ng-required="false" class="form-control" />
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label translate="customers.cel"></label>
			<input type="text" ng-model="vm.model.cel" ng-maxlength="20" ng-required="false" class="form-control" />
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label translate="customers.cpfCnpj"></label>
			<input type="text" ng-model="vm.model.cpfCnpj" ui-br-cpf-mask ng-required="false" class="form-control" />
		</div>
	</div>
	<div class="footer">
		<div><a back class="material-link"><i class="material-icons">keyboard_backspace</i> <span translate="global.back"></span></a></div>
		<div><button type="submit" class="btn btn-default btn-lg" ladda="laddaLoading" translate="global.save"></button></div>
	</div>
</form>