﻿<form ng-submit="vm.save()" autocomplete="off" novalidate="novalidate">
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label class="req" translate="processes.processId"></label>
			<input type="text" ng-model="vm.model.processId" ng-maxlength="20" ng-required="true" class="form-control" />
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-12">
			<label translate="processes.dtReg"></label>
			<div date-time date-field="vm.model.dtReg" is-required="false"></div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-12">
			<label translate="processes.dtDistribution"></label>
			<div date-time date-field="vm.model.dtDistribution" is-required="false"></div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label translate="processes.value"></label>
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">$</span>
				</div>
				<input type="text" ng-model="vm.model.value" ui-number-mask="2" ng-required="false" class="form-control" />
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-12">
			<label translate="processes.vara"></label>
			<input type="text" ng-model="vm.model.vara" ng-maxlength="128" ng-required="false" class="form-control" />
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label translate="processes.cpfCnpj"></label>
			<input type="text" ng-model="vm.model.cpfCnpj" ui-br-cpf-mask ng-required="false" class="form-control" />
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<div class="form-check">
				<input id="hasNotifications" type="checkbox" ng-model="vm.model.hasNotifications" class="form-check-input" />
				<label class="form-check-label" for="hasNotifications" translate="processes.hasNotifications"></label>
			</div>
		</div>
	</div>
	<div class="footer">
		<div><a back class="material-link"><i class="material-icons">keyboard_backspace</i> <span translate="global.back"></span></a></div>
		<div><button type="submit" class="btn btn-default btn-lg" ladda="laddaLoading" translate="global.save"></button></div>
	</div>
</form>