﻿<keyword-filter keyword="vm.keyword"></keyword-filter>

<panel-empty ng-hide="vm.pagination.list.rows.length"></panel-empty>

<div ng-show="vm.pagination.list.rows.length">
	<div class="table-responsive">
		<table class="table" ng-show="vm.pagination.list.rows.length">
			<thead>
				<tr>
					<th translate="processes.processId"></th>
				<th translate="processes.dtReg"></th>
				<th translate="processes.dtDistribution"></th>
				<th translate="processes.vara"></th>
				<th translate="processes.cpfCnpj"></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in vm.pagination.list.rows">
					<td><a ui-sref="main.process-edit({ id: item.processId })" ng-bind="::item.processId"></a></td>
					<td ng-bind="::item.dtReg | date:'dd/MMM/yyyy'"></td>
					<td ng-bind="::item.dtDistribution | date:'dd/MMM/yyyy'"></td>
					<td ng-bind="::item.vara"></td>
					<td ng-bind="::item.cpfCnpj | brCpf"></td>
					<td class="text-right">
						<a ui-sref="main.process-edit({ id: item.processId })" title="{{ 'global.edit' | translate }}"><i class="material-icons">edit</i></a>
						<a href="" ng-click="vm.delete(item.processId, $index)" title="{{ 'global.delete' | translate }}"><i class="material-icons">delete_forever</i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="text-center">
		<ul uib-pagination ng-model="vm.pagination.currentPage" items-per-page="vm.pagination.pageSize" total-items="vm.pagination.pagesTotal" max-size="7" force-ellipses="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
	</div>
</div>