﻿<form ng-submit="vm.save()" autocomplete="off" novalidate="novalidate">
	<div class="form-row">
		<div class="form-group col-sm-12">
			<label translate="schedulerTrackingCodes.dtReg"></label>
			<div date-time date-field="vm.model.dtReg" is-required="false"></div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label translate="schedulerTrackingCodes.cpfCnpj"></label>
			<input type="text" ng-model="vm.model.cpfCnpj" ui-br-cpf-mask ng-required="false" class="form-control" />
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label translate="schedulerTrackingCodes.schedulerStatusId"></label>
			<select ng-model="vm.model.schedulerStatusId" ng-options="option.key as option.value for option in vm.schedulerstatus" ng-required="false" class="form-control"></select>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-12">
			<label translate="schedulerTrackingCodes.dtProcessed"></label>
			<div date-time date-field="vm.model.dtProcessed" is-required="false"></div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-5">
			<label translate="schedulerTrackingCodes.serverChecking"></label>
			<input type="text" ng-model="vm.model.serverChecking" ng-maxlength="32" ng-required="false" class="form-control" />
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-12">
			<label translate="schedulerTrackingCodes.dtStart"></label>
			<div date-time date-field="vm.model.dtStart" is-required="false"></div>
		</div>
	</div>
	<div class="footer">
		<div><a back class="material-link"><i class="material-icons">keyboard_backspace</i> <span translate="global.back"></span></a></div>
		<div><button type="submit" class="btn btn-default btn-lg" ladda="laddaLoading" translate="global.save"></button></div>
	</div>
</form>