﻿<form ng-submit="vm.save()" autocomplete="off" novalidate="novalidate">
	<div class="form-row">
		<div class="form-group col-sm-12">
			<label translate="notifications.dtReg"></label>
			<div date-time date-field="vm.model.dtReg" is-required="false"></div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<div class="form-check">
				<input id="succeded" type="checkbox" ng-model="vm.model.succeded" class="form-check-input" />
				<label class="form-check-label" for="succeded" translate="notifications.succeded"></label>
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-12">
			<label translate="notifications.dtSucceded"></label>
			<div date-time date-field="vm.model.dtSucceded" is-required="false"></div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label translate="notifications.processId"></label>
			<select ng-model="vm.model.processId" ng-options="option.key as option.value for option in vm.processes" ng-required="false" class="form-control"></select>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label translate="notifications.customerId"></label>
			<select ng-model="vm.model.customerId" ng-options="option.key as option.value for option in vm.customers" ng-required="false" class="form-control"></select>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label translate="notifications.notificationTypeId"></label>
			<select ng-model="vm.model.notificationTypeId" ng-options="option.key as option.value for option in vm.notificationtypes" ng-required="false" class="form-control"></select>
		</div>
	</div>
	<div class="footer">
		<div><a back class="material-link"><i class="material-icons">keyboard_backspace</i> <span translate="global.back"></span></a></div>
		<div><button type="submit" class="btn btn-default btn-lg" ladda="laddaLoading" translate="global.save"></button></div>
	</div>
</form>