﻿<form ng-submit="vm.save()" autocomplete="off" novalidate="novalidate">
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label translate="attempts.notificationId"></label>
			<input type="number" ng-model="vm.model.notificationId" ng-required="false" class="form-control" />
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-12">
			<label translate="attempts.dtReg"></label>
			<div date-time date-field="vm.model.dtReg" is-required="false"></div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<div class="form-check">
				<input id="succeded" type="checkbox" ng-model="vm.model.succeded" class="form-check-input" />
				<label class="form-check-label" for="succeded" translate="attempts.succeded"></label>
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-12">
			<label translate="attempts.message"></label>
			<input type="text" ng-model="vm.model.message" ng-maxlength="1024" ng-required="false" class="form-control" />
		</div>
	</div>
	<div class="footer">
		<div><a back class="material-link"><i class="material-icons">keyboard_backspace</i> <span translate="global.back"></span></a></div>
		<div><button type="submit" class="btn btn-default btn-lg" ladda="laddaLoading" translate="global.save"></button></div>
	</div>
</form>