﻿<form ng-submit="vm.save()" autocomplete="off" novalidate="novalidate">
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label class="req" translate="operationTypes.operationTypeId"></label>
			<input type="number" ng-model="vm.model.operationTypeId" ng-required="true" class="form-control" />
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-5">
			<label translate="operationTypes.name"></label>
			<input type="text" ng-model="vm.model.name" ng-maxlength="32" ng-required="false" class="form-control" />
		</div>
	</div>
	<div class="footer">
		<div><a back class="material-link"><i class="material-icons">keyboard_backspace</i> <span translate="global.back"></span></a></div>
		<div><button type="submit" class="btn btn-default btn-lg" ladda="laddaLoading" translate="global.save"></button></div>
	</div>
</form>