﻿@import '../vars';

#auth-login {
	.auth-error {
		display: flex;
		align-items: center;
		font: 400 @fontsize-lg / 1.25em @font-title;
		margin-bottom: @space-md;

		.material-icons {
			margin-right: @space-sm;
		}
	}

	.panel-left {
		position: relative;
		// background: url(../../Images/bg-login.jpg) no-repeat;
		background-color: @color2;
		background-size: cover;
		min-height: 100vh;

		.pattern {
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			min-height: 100vh;
			// background: url(../../Images/bg-pattern.png);

			.logo {
				display: flex;
				align-items: center;
				justify-content: center;
				flex: 1;
			}

			.signature {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 50px;
			}
		}
	}

	.panel-right {
		color: @color2;
		background-color: @palette-White-500;
		min-height: 100vh;
		padding: 10vw;

		h1 {
			color: @color2;
			padding-bottom: @space-sm;
			border-bottom: 2px solid @color2;
			margin-bottom: @space-md;
		}

		label {
			color: @color3;
		}

		.fas {
			position: absolute;
			color: @palette-Black-500;
			font-size: 18px;
			width: 42px;
			height: 42px;
			left: 12px;
			top: 12px;
		}

		div.email-wrapper,
		div.password-wrapper {
			position: relative;
			display: inline-block;
			width: 100%;

			input {
				-webkit-box-shadow: 0 0 0 100px white inset;
				padding-left: 42px;
			}
		}

		.forgot {
			color: @color2;
			line-height: 54px;
		}
	}
}
