@import '../vars';

.kpi-wrapper {
	color: @palette-Grey-900;
	border: 1px solid @palette-Grey-100;
	background-color: @palette-Grey-50;
	padding: 15px;
	border-radius: 5px;
	margin-bottom: 30px;

	& > h2 {
		font-size: 18px;
		font-weight: 600;
		color: @palette-Grey-900;
		margin-bottom: 15px;
		text-align: center;
	}

	.kpi {
		& > canvas {
			width: 400px;
			height: 308px;
		}

		&.kpi-singlevalue {
			display: flex;
			flex-direction: row;
			align-items: center;

			.fas {
				color: @color2;
				margin-right: @space-xs;
			}
		}

		&.kpi-panel {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;

			.kpi-item {
				display: flex;
				flex-direction: column;
				align-items: center;

				.fas {
					color: @color2;
					margin-bottom: @space-xs;
				}
			}
		}

		h3 {
			font: 700 24px/1em @font-condensed;
			letter-spacing: -0.05em;
			margin: 0;
		}

		table {
			width: 100%;

			td {
				text-align: center;
			}
		}
	}
}
