@import '../vars';
@import '../classes';
@import '../lib/palette';

body {
	overflow-x: hidden;
}

/* GENERAL STRUCTURE */
#wrapper {
	& > .sidebar {
		position: fixed;
		height: 100%;
		top: 0;
		left: 0;
		width: @sidebar-width;
		background-color: @color2;
		.transition;

		.menu {
			height: 300px;
			overflow-y: auto;
			/*&::-webkit-scrollbar {
				width: 5px;
			}

			&::-webkit-scrollbar-track {
				background-color: transparent;
			}

			&::-webkit-scrollbar-thumb {
				background-color: @palette-White-500;
			}*/
		}

		.signature {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 50px;
		}
	}

	& > .content {
		position: relative;
		margin-left: @sidebar-width;
		padding: @space-lg + @space-md 0 @space-md;
		min-width: @min-content-width;
		.transition;
	}

	&.open {
		& > .sidebar {
			left: 0;
		}

		& > .content {
			margin-left: @sidebar-width;
		}
	}
}

/* MENU */
#wrapper > .sidebar {
	.user {
		height: @sidebar-width;
		display: flex;
		align-items: center;
		justify-content: center;

		p {
			margin-top: @space-sm;
			font: 400 @fontsize-md / 1em @font-title;
			color: @palette-White-500;

			small {
				font-size: @fontsize-xs;
			}
		}
	}

	.menu {
		ul {
			// width: @sidebar-width;
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				border-top: 1px solid darken(@color2, 10%);

				a {
					font: 400 @fontsize-md / 1em @font-title;
					width: @sidebar-width;
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: flex-start;
					align-items: center;
					padding: 7px 0;
					width: 100%;
					text-decoration: none;
					color: @color1;
					// background-color: @color2;

					div {
						.material-icons {
							line-height: 1.5em;
							padding: 0 12px;
						}

						&.icon {
							width: 50px;
							text-align: center;
						}

						&.area {
							font-weight: 400;
						}

						&.link {
							margin: 8px 0 7px;
						}

						&.arrow {
							margin-left: auto;
						}
					}
				}

				a:hover {
					text-decoration: none;
					color: @color1;
					background: lighten(@color2, 5%);
				}

				a:active,
				a:focus {
					text-decoration: none;
				}

				.menu-item > .arrow > .material-icons {
					.on {
						display: none;
					}

					.off {
						display: inline;
					}
				}

				&.selected {
					.menu-item > .arrow > .material-icons {
						.on {
							display: inline;
						}

						.off {
							display: none;
						}
					}

					.submenu {
						height: auto;
					}
				}

				.submenu {
					background-color: darken(@color2, 5%);
					height: 0;
					overflow: hidden;
					.transition;
				}
			}
		}
	}
}

/* TOPBAR */
nav.navbar-controlpanel {
	z-index: 1000;
	position: fixed;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	left: @sidebar-width;
	top: 0;
	right: 0;
	height: 50px;
	min-width: @min-content-width;
	color: @color1;
	background-color: @color3;
	border-radius: 0;
	.transition;

	div {
		color: @palette-White-500;

		a {
			color: @palette-White-500;
		}

		.material-icons {
			line-height: 1.5em;
		}

		#menu-toggle {
			padding: 12px 0 12px 12px;
		}

		&.title {
			padding: 12px 0 12px 12px;
			font: 400 @fontsize-md / 1em @font-title;
		}

		&.quit {
			padding: 12px 12px 12px 0;
			margin-left: auto;
		}
	}
}

/* RESPONSIVE */
@media (min-width: @screen-lg-min) {
	#wrapper {
		nav.navbar-controlpanel {
			.menu {
				display: none;
			}
		}
	}
}

@media (max-width: @screen-md-max) {
	#wrapper {
		& > .sidebar {
			left: -@sidebar-width;
		}

		& > .content {
			margin-left: 0;
		}

		nav.navbar-controlpanel {
			min-width: @min-content-width;
			left: 0;
		}

		&.open {
			& > .sidebar {
				left: 0;
			}

			& > .content {
				margin-left: @sidebar-width;
			}

			nav.navbar-controlpanel {
				min-width: @min-content-width;
				left: @sidebar-width;
			}
		}
	}
}
