<div class="kpi-wrapper">
	<div class="kpi kpi-singlevalue">
		<div>
			<i class="fas fa-{{ icon }} fa-3x fa-fw"></i>
		</div>
		<div>
			<span>{{ name | translate }}</span>
			<h3>{{ value }}</h3>
		</div>
	</div>
</div>