@import 'vars';

// AngularJS
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave {
	-webkit-transition: 0.2s linear all;
	transition: 0.2s linear all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
	opacity: 0;
}

.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
	opacity: 1;
}

.ng-confirm-title {
	line-height: 1.25em;
	text-transform: uppercase;
}
