﻿@import 'vars';

.img-avatar {
	display: block;
	// border-radius: 50%;
	max-width: 180px;
	height: auto;
	margin: 0 auto;
}

.avatar {
	display: inline-block;
	// border: 2px solid @color2;
	border-radius: 50%;
	max-width: 100px;
	height: auto;
	margin: 0 auto;
	margin-right: @space-xxs;

	&.avatar-sm {
		max-width: 48px;
		height: auto;
	}
}

.filter {
	color: @palette-Grey-500;
	background-color: @palette-Grey-100;
	border-radius: 9px;
	padding: @space-sm;
	margin-bottom: @space-md;

	.form-inline > * {
		margin-right: @space-xs;
	}
}

.transition {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.img-icon {
	max-width: 70px;
	margin-right: @space-sm;
}

.material-link {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}

	.material-icons {
		margin-right: @space-xxs;
	}
}

.material-icons {
	vertical-align: middle;

	&.md-18 {
		font-size: @fontsize-md;
	}

	&.md-24 {
		font-size: @fontsize-lg;
	}

	&.md-36 {
		font-size: @fontsize-xl;
	}

	&.md-48 {
		font-size: @fontsize-xxl;
	}

	&.md-default {
		color: @color2;
	}
}

.title-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: @space-md;
}

.gallery {
	padding-right: @space-sm;

	& > div {
		padding-right: 0;
		margin-top: @space-sm;
	}
}

.modal-content {
	border-radius: 0;
}

.panel-empty {
	padding: @space-xl 0;
	text-align: center;
	font: 400 @fontsize-md / 1em @font-title;
	color: @palette-Grey-400;
	background-color: @palette-Grey-100;
	border-radius: 24px;
}

.picker__select--month,
.picker__select--year {
	border: 1px solid #b7b7b7; /*height:2em;*/
	padding: 0.25em;
	margin-left: 0.25em;
	margin-right: 0.25em;
}

.picker__frame {
	transition: none;
}

.upload-container {
	display: inline-block;
	position: relative;
	cursor: pointer;

	.upload {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: fadeout(@palette-Grey-300, 50%) url('../images/icons/upload.svg') no-repeat center;
		background-size: 48px;
	}
}

.top-buffer-sm {
	margin-top: @space-sm;
}
