﻿@import 'lib/palette';
@import 'lib/responsive-align';

@import 'vars';
@import 'classes';
@import 'forms';
@import 'bootstrap';
@import 'angular';

@import 'addons/tagsinput';
@import 'addons/ngrateit';
@import 'addons/crop';

@import 'modules/auth';
@import 'modules/nav';
@import 'modules/dashboard';

body {
	font: 400 @fontsize-sm / 1.5em @font-title;
	background-color: @palette-Grey-50;
}

h1 {
	color: @title-color;
	font: 400 @fontsize-xxxl / 1em @font-title;
	margin: 0;
}

a {
	color: @linkcolor;
	cursor: pointer;

	&:hover,
	&:focus,
	&:active {
		color: @linkcolor-focus;
	}
}

p + p:last-child {
	margin-bottom: 0;
}

// Summernote default font
.note-editable {
	font: 300 @fontsize-md / 1.5em @font-text;
}

.table-container {
	height: 580px;
}
