@import 'vars';
@import 'classes';

-webkit-keyframes autofill {
	to {
		color: #666;
		background: transparent;
	}
}

input:-webkit-autofill {
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
}

.form-group {
	margin-bottom: @space-sm;

	&.error {
		label {
			color: @palette-Red-A700;
		}

		.form-control {
			border: 2px solid @palette-Red-A700;
			padding-right: 37px;
			background: url('../images/icons/exclamation-circle.svg') no-repeat center right;
		}
	}
}

.value {
	font: 300 @fontsize-md / 1.5em @font-text;
	color: @color3;
	display: block;
	margin-bottom: @space-xs;
	margin-top: @space-xs;
}

.form-control {
	height: 42px;
	font: 300 @fontsize-md / 1.5em @font-text;
	color: @palette-Grey-800;
	background-color: @palette-White-500;
	border-radius: 5px;
	box-shadow: none;

	select& {
		-webkit-appearance: none;
		-moz-appearance: none;
		background: @palette-White-500 url('../images/icons/angle-down.svg') no-repeat center right;
		background-size: 14px;
		padding-right: 8px;
		background-origin: content-box;
	}

	input&,
	select&,
	textarea& {
		border: 1px solid @palette-Grey-300;
	}

	&:focus {
		border-color: @color2;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	&.form-control-lg {
		height: 54px;
		font: 300 @fontsize-lg / 1em @font-text;
	}
}

.validation-message {
	opacity: 0;
	font: 300 @fontsize-xs / 1.5em @font-text;
	text-transform: uppercase;
	color: @palette-Red-A700;
	margin-top: @space-xxs;
	.transition;
}

form:not(.form-inline) label {
	display: block;
	color: @palette-Black-500;
	font-size: @fontsize-xs;

	&.form-check-label {
		display: inline-block;
		font: 300 @fontsize-sm / 1.75em @font-text;
	}
}

label {
	font: 300 @fontsize-sm / 1.5em @font-text;

	&.radio-inline {
		font: 300 @fontsize-md / 1.5em @font-text;
		color: @color3;
	}

	&.req {
		font-weight: 700;
	}

	span {
		color: @palette-Grey-400;
		font-weight: normal;

		&:before {
			content: ' ';
		}
	}
}

div.checkbox {
	label {
		font: 300 @fontsize-md / 1.5em @font-text;
		color: @color3;
		display: inline-block;
	}
}

h2.separator {
	font: 400 @fontsize-xl / 1em @font-title;
	color: @color2;
	border-bottom: 1px solid @palette-Grey-300;
	padding-bottom: @space-xs;
	margin: @space-sm 0;

	& + table {
		margin-top: -@space-md;
	}
}

form .footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid @palette-Grey-300;
	padding-top: @space-sm;
	margin-top: @space-md;
}
