﻿@import url('https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto:300,700|Roboto+Condensed:700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import 'lib/palette';

@font-title: 'Raleway', sans-serif;
@font-text: 'Roboto', sans-serif;
@font-condensed: 'Roboto Condensed', sans-serif;

@color1: @palette-White-500;
@color2: #ff6d00;
@color3: #01579b;
@title-color: @color2;
@color-bg: #f7f8f3;

@linkcolor: @color2;
@linkcolor-focus: darken(@color2, 10%);

@sidebar-width: 250px;
@min-content-width: 300px;

@fontsize-xxs: 11px;
@fontsize-xs: 12px;
@fontsize-sm: 14px;
@fontsize-md: 18px;
@fontsize-lg: 24px;
@fontsize-xl: 36px;
@fontsize-xxl: 48px;
@fontsize-xxxl: 60px;

@space-xxs: 5px;
@space-xs: 10px;
@space-sm: 15px;
@space-md: 30px;
@space-lg: 50px;
@space-xl: 100px;

@screen-xs-min: 480px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);
