﻿<form ng-submit="vm.save()" autocomplete="off" novalidate="novalidate">
	<div class="form-row">
		<div class="form-group col-sm-9">
			<label class="req" translate="cities.name"></label>
			<input type="text" ng-model="vm.model.name" ng-maxlength="64" ng-required="true" class="form-control" />
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label class="req" translate="cities.stateId"></label>
			<select ng-model="vm.model.stateId" ng-options="option.key as option.value for option in vm.states" ng-required="true" class="form-control"></select>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<div class="form-check">
				<input id="isCapital" type="checkbox" ng-model="vm.model.isCapital" class="form-check-input" />
				<label class="form-check-label" for="isCapital" translate="cities.isCapital"></label>
			</div>
		</div>
	</div>
	<div class="footer">
		<div><a back class="material-link"><i class="material-icons">keyboard_backspace</i> <span translate="global.back"></span></a></div>
		<div><button type="submit" class="btn btn-default btn-lg" ladda="laddaLoading" translate="global.save"></button></div>
	</div>
</form>