<keyword-filter keyword="vm.keyword"></keyword-filter>

<panel-empty ng-hide="vm.pagination.list.rows.length"></panel-empty>

<div ng-show="vm.pagination.list.rows.length">
	<div class="table-responsive">
		<table class="table" ng-show="vm.pagination.list.rows.length">
			<thead>
				<tr>
					<th translate="users.name"></th>
					<th translate="users.email"></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in vm.pagination.list.rows">
					<td>
						<a ui-sref="main.user-edit({ id: item.authId })" ng-bind="::item.name"></a>
					</td>
					<td ng-bind="::item.email"></td>
					<td class="text-right">
						<a ui-sref="main.user-edit({ id: item.authId })" title="{{ 'global.edit' | translate }}"><i class="material-icons">edit</i></a>
						<a ng-click="vm.delete(item.authId, $index)" title="{{ 'global.delete' | translate }}"><i class="material-icons">delete_forever</i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="text-center">
		<ul uib-pagination ng-model="vm.pagination.currentPage" items-per-page="vm.pagination.pageSize" total-items="vm.pagination.pagesTotal"
			max-size="7" force-ellipses="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
	</div>
</div>