<form ng-submit="vm.save()" autocomplete="off" novalidate="novalidate">
	<div class="row">
		<div class="col-sm-8">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label class="req" translate="users.name"></label>
						<input type="text" ng-model="vm.model.name" ng-maxlength="32" ng-required="true" class="form-control input-lg" />
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-5">
					<div class="form-group">
						<label class="req" translate="users.email"></label>
						<input type="email" ng-model="vm.model.email" ng-maxlength="64" ng-required="true" class="form-control" />
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label class="req" translate="users.password"></label>
						<input type="password" ng-model="vm.model.newpassword" ng-maxlength="32" ng-required="!vm.model.internalUserId" class="form-control" />
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="req" translate="users.reminder"></label>
						<input type="text" ng-model="vm.model.reminder" ng-maxlength="128" ng-required="true" class="form-control" />
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label class="req" translate="users.language"></label>
						<select ng-model="vm.model.enumLanguage" ng-options="option.value as option.name for option in vm.enumLanguage" ng-required="true" class="form-control"></select>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label class="req" translate="users.avatar"></label>
						<imagecrop image="vm.model.imageAvatar" url="v1/internal/users/avatar" area-type="square" aspect-ratio="1" width="256" height="256" target-width="256" target-height="256" />
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer">
		<div><a back class="material-link"><i class="material-icons">keyboard_backspace</i> <span translate="global.back"></span></a></div>
		<div><button type="submit" class="btn btn-default btn-lg" ladda="laddaLoading" translate="global.save"></button></div>
	</div>
</form>