﻿<form ng-submit="vm.save()" autocomplete="off" novalidate="novalidate">
	<div class="form-row">
		<div class="form-group col-sm-12">
			<label translate="plans.dtReg"></label>
			<div date-time date-field="vm.model.dtReg" is-required="false"></div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label translate="plans.quantity"></label>
			<input type="number" ng-model="vm.model.quantity" ng-required="false" class="form-control" />
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-5">
			<label translate="plans.planName"></label>
			<input type="text" ng-model="vm.model.planName" ng-maxlength="32" ng-required="false" class="form-control" />
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label translate="plans.cost"></label>
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">$</span>
				</div>
				<input type="text" ng-model="vm.model.cost" ui-number-mask="2" ng-required="false" class="form-control" />
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-3">
			<label translate="plans.costExtra"></label>
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">$</span>
				</div>
				<input type="text" ng-model="vm.model.costExtra" ui-number-mask="2" ng-required="false" class="form-control" />
			</div>
		</div>
	</div>
	<div class="footer">
		<div><a back class="material-link"><i class="material-icons">keyboard_backspace</i> <span translate="global.back"></span></a></div>
		<div><button type="submit" class="btn btn-default btn-lg" ladda="laddaLoading" translate="global.save"></button></div>
	</div>
</form>