﻿<div class="row">
	<div class="col-sm-3">
		<div class="form-group">
			<label class="req">CEP</label>
			<input type="text"
				   ng-model="address.zipCode" ui-br-cep-mask
				   ng-blur="zipCodeChange()"
				   ng-required="isRequired" class="form-control" />
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
			<label class="req">Endereço</label>
			<input type="text" ng-model="address.address1" ng-maxlength="64" ng-required="isRequired" class="form-control" />
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<div class="form-group">
			<label>Complemento</label>
			<input type="text" ng-model="address.address2" ng-maxlength="64" class="form-control" />
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<div class="form-group">
			<label>Bairro</label>
			<input type="text" ng-model="address.neighborhood" ng-maxlength="64" class="form-control" />
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-3">
		<div class="form-group">
			<label class="req">Estado</label>
			<select ng-model="address.stateId"
					ng-options="option.stateId as option.name for option in states"
					ng-change="onStateChange()"
					ng-required="isRequired" class="form-control">
				<option value="">Escolha</option>
			</select>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="form-group">
			<label class="req">Cidade</label>
			<select ng-model="address.cityId"
					ng-options="option.cityId as option.name for option in cities"
					ng-required="isRequired" class="form-control">
				<option value="">Escolha</option>
			</select>
		</div>
	</div>
</div>