﻿<div class="row">
	<div class="col-xs-6 col-sm-3 col-lg-2">
		<div class="form-group">
			<input type="text" pick-Adate="valueAsDate" ui-date-mask class="form-control"
				   ng-model="valueAsDate"
				   ng-required="isRequired || valueAsTime.length"
				   ng-change="setDateField()" />
		</div>
	</div>
	<div class="col-xs-4 col-sm-2 col-lg-2">
		<div class="form-group">
			<input type="text" pick-Atime="valueAsTime" class="form-control"
				   ng-model="valueAsTime"
				   ng-required="isRequired || valueAsDate.length"
				   ng-change="setDateField()" />
		</div>
	</div>
</div>