﻿<div class="cropbox" ng-show="sourceCropImage">
	<div class="crop">
		<ui-cropper image="sourceCropImage" result-image="targetCropImage" result-image-size="resultImageSize" area-type="{{ areaType }}" image-size="imageSize" aspect-ratio="aspectRatio"></ui-cropper>
	</div>
	<div>
		<button ng-click="croppedImageUpload()" type="button" ladda="cropping" class="btn btn-default btn-lg">Recortar</button>
		<a ng-click="cancelCrop()" class="cancel">Cancelar</a>
	</div>
</div>

<div flow-init flow-object="uploader.flow" flow-file-added="temporaryFileUpload($file, $event, $flow)">
	<div class="upload-container" ng-mouseenter="avatar_hover = true" ng-mouseleave="avatar_hover = false">
		<div class="upload" ng-class="{'img-circle': areaType == 'circle'}" ng-show="avatar_hover" flow-btn></div>
		<img ng-src="{{ image }}" class="img-responsive" ng-class="{'img-circle': areaType == 'circle'}" />
	</div>
</div>