﻿<div class="filter">
	<form class="form-inline">
		<div class="form-group">
			<label translate="global.filter"></label>
			<input ng-model="keyword" class="form-control mx-sm-2" ng-model-options="{ debounce: 1000 }" placeholder="{{ 'global.keyword' | translate }}" />
		</div>
	</form>
</div>