﻿<div id="wrapper" ng-class="{'open': vm.menuOpened}">
	<nav class="sidebar">
		<div class="user">
			<a ui-sref="main.dashboard"><img src="/images/logo-asteria.svg" alt="" class="img-avatar" /></a>
		</div>

		<div class="menu" ng-controller="sidebarCtrl as vm">
			<ul>
				<li ng-repeat="menu in vm.menu" ng-class="{'selected': menu.toggle}" ng-show="vm.permissions.isAuthorized(menu.task)">
					<a class="menu-item" ng-click="vm.toggleSubmenu(menu)">
						<div class="icon"><i class="material-icons" ng-bind="menu.icon"></i></div>
						<div class="area" translate="{{menu.name}}"></div>
						<div class="arrow"><i class="material-icons"><span class="off">keyboard_arrow_right</span><span class="on">keyboard_arrow_down</span></i></div>
					</a>

					<ul ng-repeat="submenu in menu.submenu" class="submenu">
						<li ng-show="vm.permissions.isAuthorized(submenu.task)">
							<a ui-sref="{{submenu.path}}">
								<div class="icon"></div>
								<div class="link" translate="{{submenu.name}}"></div>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="signature">
			<a href="http://www.asteria.com.br/" target="_blank"><img src="/images/img-powered.svg" alt="Powered by Astéria" /></a>
		</div>
	</nav>

	<div class="content">
		<nav class="navbar-controlpanel">
			<div class="d-xl-none"><a id="menu-toggle" ng-click="vm.toggleMenu()" title="{{'global.openMenu' | translate}}"><i class="material-icons">menu</i></a></div>
			<div class="title">Celere</div>
			<div class="quit"><a id="signout" ng-click="vm.signout()" title="{{'global.signout' | translate}}"><i class="material-icons">exit_to_app</i></a></div>
		</nav>

		<div class="container-fluid">
			<div class="title-block">
				<div>
					<h1 translate="{{vm.title}}"></h1>
				</div>
				<div ng-show="vm.insertUrl && (!vm.adminInsertOnly || (vm.adminInsertOnly && vm.permissions.isAdmin()))">
					<a ng-click="vm.insertNew(vm.insertUrl, vm.enumContentArea, vm.routeData)" title="{{'global.insertNew' | translate}}"><i class="material-icons md-48 md-default">add_circle</i></a>
				</div>
			</div>

			<main ui-view="main"></main>

		</div>
	</div>
</div>