﻿<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
			<label class="req">{{ fieldLabel }}</label>
			<tags-input
				ng-model="tagArray"
				ng-required="isRequired"
				on-tag-added="setTagField()"
				on-tag-removed="setTagField()"></tags-input>
		</div>
	</div>
</div>